@use "../colors" as *;
.bgagame-agricola {
	.action-header, .action-desc, .zone-capacity, .agricola-player-pannel, .player-board, .player-card{
	  color:black;
	}
}
html:has(.bgagame-agricola) {
	background-blend-mode: soft-light;
}
