#overall-content:has(.bgagame-justone) {
    background-color: $background;
}
.bgagame-justone {
    #left-side-wrapper {
        background: none;
    }

    .mystery-word {
        color: black;
    }

    #score-counter {
        color: black;
    }

    #card-back-countdown {
        color: $onBackground;
    }

    #question {
        color: black;
    }

    input {
        background-color: transparent !important;
        border: transparent !important;
        color: black !important;
    }

    #table-decision {
        background-color: $surface;
    }
}