html:has(.bgagame-splendor) {
    background-blend-mode: soft-light;
}

.bgagame-splendor {
    .spl_counts.type_C,
    .player_name {
        background-color: #ececec;
    }

    .spl_cardbutton {
        background: hsla(0,0%,10%,.9);
        color: #fff;
    }

    .spl_sendpay.inactive {
        background: #616161;
    }
}

