body:has(.bgagame-tickettoride) {
    background-image: url(https://x.boardgamearena.net/data/themereleases/260909-0941/img/layout/back-mainb.png);
}

.bgagame-tickettoride #map {
    background-color: #b3b3b3;
    background-blend-mode: multiply;
}
