@use "sass:color";
$background: #282a36; // Dracula background color
$primary: #bd93f9; // Dracula accent color
$error: #ff5555; // Dracula error color

$surface: #13141A;
$lightSurface: #17181F;
$lighterSurface: #1A1B19;
$lightPrimary: #4D3E62;
$darkPrimary: #463261;
$lightError: color.scale($error, $lightness: 5%);

$onBackground: #f8f8f2; // Softer white for text on background
$onSurface: #f8f8f2; // Softer white for text on surfaces
$onPrimary: #44475a; // Softer black for text on primary-colored elements
$onError: #44475a; // Softer black for text on error-colored elements

$darkOnBackground: color.scale($onBackground, $lightness: -5%);
