@use "colors" as *;
// Game lobby / table-selection page (choosing a game mode and a table to join).

.player_is_at_table .gametable.gametable_status_init,
.player_is_at_table .gametable.gametable_status_open,
.player_is_at_table .gametable.gametable_status_asyncinit,
.player_is_at_table .gametable.gametable_status_asyncopen {
    background-color: $lighterSurface;
}

.mm_pref_color_priority_1 {
    background-color: #0b3805;
}
.mm_pref_color_priority_2 {
    background-color: #262514;
}
.mm_pref_color_priority_3 {
    background-color: #292014;
}
.mm_pref_color_priority_9 {
    background-color: #340909;
}
