#footer_footer::after {
    content: "BGA Dark Mode Fix v1.2\Ahttps://github.com/joesondow/bga-dark-mode-fix";
    white-space: pre-wrap;
    text-align: center;
    width: 100%;
    display: block;
    color: darkgray;
    font-size: 0.7rem;
    padding-top: 0.5rem;
}